
<div class="main__current-page-container">
    
    <div class="current-page__icon-container">
        <img class="current-page__icon" src="../public/images/index-icon--wh.svg" alt="Imagen vectorizada de un cohete">
    </div>

    <div class="current-page__heading-wrapper">
        <h2 class="current-page__heading">Inicio</h2>
    </div>

</div>

<div class="main__whats-app-button-container">
    <a class="whats-app-button__link" href="http://wa.me/+573332224444"  target="_blank"></a>
</div>

<div class="main__main-slider-container">

    <input class="main-slider__radio-input radio-input--1" type="radio" name="slider" id="slide-1" checked>
    <input class="main-slider__radio-input radio-input--2" type="radio" name="slider" id="slide-2">
    <input class="main-slider__radio-input radio-input--3" type="radio" name="slider" id="slide-3">
    <input class="main-slider__radio-input radio-input--4" type="radio" name="slider" id="slide-4">

    <div class="main-slider__slider-wrapper">

        <div class="main-slider__slide slide-image-1">
            <label class="main-slider__label" for="slide-1"></label>
            <div class="main-slider__image image--1">
                <div class="image__info-container">
                    <div class="image__icon-container">
                        <img class="image__icon" src="public/images/slide__icon--1.svg" alt="">
                    </div>
                    <h2 class="image__heading">Ahorra hasta 30%*</h2>
                    <p class="image__content">en productos seleccionados</p>
                </div>
            </div>
        </div>
        
        <div class="main-slider__slide slide-image-2">
            <label class="main-slider__label" for="slide-2"></label>
            <div class="main-slider__image image--2">
                <div class="image__info-container">
                    <div class="image__icon-container">
                        <img class="image__icon" src="public/images/slide__icon--2.svg" alt="">
                    </div>
                    <h2 class="image__heading">Star Member</h2>
                    <p class="image__content">Regístrate ahora</p>
                </div>
            </div>
        </div>
        
        <div class="main-slider__slide slide-image-3">
            <label class="main-slider__label" for="slide-3"></label>
            <div class="main-slider__image image--3">
                <div class="image__info-container">
                    <div class="image__icon-container">
                        <img class="image__icon" src="public/images/slide__icon--3.svg" alt="">
                    </div>
                    <h2 class="image__heading">Llega navidad</h2>
                    <p class="image__content">Adelántate con los mejores productos</p>
                </div>
            </div>
        </div>

        <div class="main-slider__slide slide-image-4">
            <label class="main-slider__label" for="slide-4"></label>
            <div class="main-slider__image image--4">
                <div class="image__info-container">
                    <div class="image__icon-container">
                        <img class="image__icon" src="public/images/slide__icon--4.svg" alt="">
                    </div>
                    <h2 class="image__heading">Ofertas relámpago</h2>
                    <p class="image__content">¡Aprovecha ahora!</p>
                </div>
            </div>
        </div>

    </div>
</div>

<section class="section-cards">

    <header class="section-cards__header">
        <h2 class="section-cards__heading">Productos</h2>
        <p class="section-cards__content">Explora el amplio mundo de la diversión, con los mejores productos en juguetería que traemos para tí.</p>
    </header>

    <div class="section-cards__filter-section">

        <div class="filter__headline-container">
            <h3 class="filter__headline">Mostrando 25 productos</h3>
        </div>

        <div class="filter__large-display-container">

            <div class="filter-list-accordion__container">

                <div class="filter-list-accordion">
                    
                    <input class="filter-list-accordion__toggle-input wide-input--1" type="checkbox" id="wide-accordion-toggle-1">
                    <article class="filter-list-accordion__item wide-item-1">

                        <header class="filter-list-accordion__header">
                            <label class="filter-list-accordion__toggle-label" for="wide-accordion-toggle-1"></label>
                            <h4 class="filter-list-accordion__item-heading">Categoría</h4>
                            <div class="filter-list-accordion__item-icon-container">
                                <img src="public/images/filter-list-accordion__item-icon--down.svg" alt="flecha apuntando hacía abajo" class="filter-list-accordion__item-icon--down">
                            </div>
                        </header>

                        <div class="filter-list-accordion__item-content">
                            <ul class="filter-list">
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="baby-and-preschool-input">
                                        Bebés y Pre-escolar
                                        <input class="filter-list__input" type="checkbox" id="baby-and-preschool-input" name="baby-and-preschool">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="collectibles-input">
                                        Coleccionables
                                        <input class="filter-list__input" type="checkbox" id="collectibles-input" name="collectibles">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="action-figures-input">
                                        Figuras de acción
                                        <input class="filter-list__input" type="checkbox" id="action-figures-input" name="action-figures">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="dolls-input">
                                        Muñecas
                                        <input class="filter-list__input" type="checkbox" id="dolls-input" name="dolls">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="building-sets-blocks-input">
                                        Sets de bloques y construcción
                                        <input class="filter-list__input" type="checkbox" id="building-sets-blocks-input" name="building-sets-blocks">
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <input class="filter-list-accordion__toggle-input wide-input--2" type="checkbox" id="wide-accordion-toggle-2">
                    <article class="filter-list-accordion__item wide-item-2">

                        <header class="filter-list-accordion__header">
                            <label class="filter-list-accordion__toggle-label" for="wide-accordion-toggle-2"></label>
                            <h4 class="filter-list-accordion__item-heading">Edad</h4>
                            <div class="filter-list-accordion__item-icon-container">
                                <img src="public/images/filter-list-accordion__item-icon--down.svg" alt="flecha apuntando hacía abajo" class="filter-list-accordion__item-icon--down">
                            </div>
                        </header>

                        <div class="filter-list-accordion__item-content">
                            <ul class="filter-list">
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="ages-0-2-input">
                                        0-2 años
                                        <input class="filter-list__input" type="checkbox" id="ages-0-2-input" name="ages-0-2">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="ages-3-4-input">
                                        3-4 años
                                        <input class="filter-list__input" type="checkbox" id="ages-3-4-input" name="ages-3-4">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="ages-5-7-input">
                                        5-7 años
                                        <input class="filter-list__input" type="checkbox" id="ages-5-7-input" name="ages-5-7">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="ages-8-13-input">
                                        8-13 años
                                        <input class="filter-list__input" type="checkbox" id="ages-8-13-input" name="ages-8-13">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="ages-14+-input">
                                        +14 años
                                        <input class="filter-list__input" type="checkbox" id="ages-14+-input" name="ages-14+">
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <input class="filter-list-accordion__toggle-input wide-input--3" type="checkbox" id="wide-accordion-toggle-3">
                    <article class="filter-list-accordion__item wide-item-3">
                        
                        <header class="filter-list-accordion__header">
                            <label class="filter-list-accordion__toggle-label" for="wide-accordion-toggle-3"></label>
                            <h4 class="filter-list-accordion__item-heading">Marca</h4>
                            <div class="filter-list-accordion__item-icon-container">
                                <img src="public/images/filter-list-accordion__item-icon--down.svg" alt="flecha apuntando hacía abajo" class="filter-list-accordion__item-icon--down">
                            </div>
                        </header>

                        <div class="filter-list-accordion__item-content">
                            <ul class="filter-list">
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="barbie-input">
                                        Barbie<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="barbie-input" name="barbie">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="dc-input">
                                        DC<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="dc-input" name="dc">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="disney-input">
                                        Disney<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="disney-input" name="disney">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="fisher-price-input">
                                        Fisher-Price<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="fisher-price-input" name="fisher-price">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="marvel-input">
                                        Marvel<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="marvel-input" name="marvel">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="lego-input">
                                        Lego<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="lego-input" name="lego">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="square-enix-input">
                                        Square-Enix<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="square-enix-input" name="square-enix">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="star-wars-input">
                                        Star Wars<sup>TM</sup>
                                        <input class="filter-list__input" type="checkbox" id="star-wars-input" name="star-wars">
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <input class="filter-list-accordion__toggle-input wide-input--4" type="checkbox" id="wide-accordion-toggle-4">
                    <article class="filter-list-accordion__item wide-item-4">

                        <header class="filter-list-accordion__header">
                            <label class="filter-list-accordion__toggle-label" for="wide-accordion-toggle-4"></label>
                            <h4 class="filter-list-accordion__item-heading">Precio</h4>
                            <div class="filter-list-accordion__item-icon-container">
                                <img src="public/images/filter-list-accordion__item-icon--down.svg" alt="flecha apuntando hacía abajo" class="filter-list-accordion__item-icon--down">
                            </div>
                        </header>

                        <div class="filter-list-accordion__item-content">
                            <ul class="filter-list">
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="price-up-to-100k-input">
                                        Hasta $100,000
                                        <input class="filter-list__input" type="checkbox" id="price-up-to-100k-input" name="price-up-to-100k">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="price-100k-200k-input">
                                        $100,000 a $200,000
                                        <input class="filter-list__input" type="checkbox" id="price-100k-200k-input" name="price-100k-200k">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="price-200k-500k-input">
                                        $200,000 a $500,000
                                        <input class="filter-list__input" type="checkbox" id="price-200k-500k-input" name="price-200k-500k">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="price-higher-500k-input">
                                        Más de $500,000
                                        <input class="filter-list__input" type="checkbox" id="price-higher-500k-input" name="price-higher-500k">
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </article>

                </div>
            </div>
        </div>

        <div class="sort-list__large-display-container">
            <label class="sort-list__label" for="product-sort-list">Ordenar por:</label>
            <div class="sort-list__option-list-container">
                <select class="sort-list__option-list" name="sort-list-selection" id="product-sort-list">
                    <option class="sort-list__option" value="1" selected>—Seleccionar—</option>
                    <option class="sort-list__option" value="2">Envío sin cargo</option>
                    <option class="sort-list__option" value="3">Más popular</option>
                    <option class="sort-list__option" value="4">Precio (mayor a menor)</option>
                    <option class="sort-list__option" value="5">Precio (menor a mayor)</option>
                    <option class="sort-list__option" value="5">A-Z</option>
                </select>
            </div>
        </div>

        <div class="filter__small-display--sort-container" id ="filter-sort-btn-container">
            <div class="filter-button__sort-btn-container">
                <button class="filter-button__sort-btn">Ordenar</button>
            </div>
            <div class="filter-button__filter-btn-container">
                <button class="filter-button__filter-btn">Filtrar</button>
            </div>
        </div>

        <div class="filter__small-display-container hidden">

            <div class="filter-list-accordion-container--small">

                <div class="filter-list-accordion--small">

                    <header class="filter-list-accordion--small__header accordion-main-header">
                        <h4 class="filter-list-accordion--small__item-heading">Filtros</h4>
                        <button class="filter-list-accordion--small__item-icon--close" id="product-filter-close-btn"></button>
                    </header>

                    <input class="filter-list-accordion--small__toggle-input input--1" type="checkbox" id="accordion-toggle-1">
                    <article class="filter-list-accordion--small__item item-1">

                        <header class="filter-list-accordion--small__header">
                            <label class="filter-list-accordion--small__toggle-label" for="accordion-toggle-1"></label>
                            <h4 class="filter-list-accordion--small__item-heading">Categoría</h4>
                            <div class="filter-list-accordion--small__item-icon-container">
                                <img class="filter-list-accordion--small__item-icon--down" src="public/images/filter-list-accordion__item-icon--down.svg" alt="flecha apuntando hacía abajo">
                            </div>
                        </header>

                        <div class="filter-list-accordion--small__item-content">
                            <ul class="filter-list">
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="baby-and-preschool-small-input">
                                        Bebés y Pre-escolar
                                        <input class="filter-list__input" type="checkbox" id="baby-and-preschool-small-input" name="baby-and-preschool">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="collectibles-small-input">
                                        Coleccionables
                                        <input class="filter-list__input" type="checkbox" id="collectibles-small-input" name="collectibles">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="action-figures-small-input">
                                        Figuras de acción
                                        <input class="filter-list__input" type="checkbox" id="action-figures-small-input" name="action-figures">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="dolls-small-input">
                                        Muñecas
                                        <input class="filter-list__input" type="checkbox" id="dolls-small-input" name="dolls">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="building-sets-blocks-small-input">
                                        Sets de bloques y construcción
                                        <input class="filter-list__input" type="checkbox" id="building-sets-blocks-small-input" name="building-sets-blocks">
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <input class="filter-list-accordion--small__toggle-input input--2" type="checkbox" id="accordion-toggle-2">
                    <article class="filter-list-accordion--small__item item-2">

                        <header class="filter-list-accordion--small__header">
                            <label class="filter-list-accordion--small__toggle-label" for="accordion-toggle-2"></label>
                            <h4 class="filter-list-accordion--small__item-heading">Edad</h4>
                            <div class="filter-list-accordion--small__item-icon-container">
                                <img src="public/images/filter-list-accordion__item-icon--down.svg" alt="flecha apuntando hacía abajo" class="filter-list-accordion--small__item-icon--down">
                            </div>
                        </header>

                        <div class="filter-list-accordion--small__item-content">
                            <ul class="filter-list">
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="ages-0-2-small-input">
                                        0-2 años
                                        <input class="filter-list__input" type="checkbox" id="ages-0-2-small-input" name="ages-0-2">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="ages-3-4-small-input">
                                        3-4 años
                                        <input class="filter-list__input" type="checkbox" id="ages-3-4-small-input" name="ages-3-4">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="ages-5-7-small-input">
                                        5-7 años
                                        <input class="filter-list__input" type="checkbox" id="ages-5-7-small-input" name="ages-5-7">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="ages-8-13-small-input">
                                        8-13 años
                                        <input class="filter-list__input" type="checkbox" id="ages-8-13-small-input" name="ages-8-13">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="ages-14+-small-input">
                                        +14 años
                                        <input class="filter-list__input" type="checkbox" id="ages-14+-small-input" name="ages-14+">
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <input class="filter-list-accordion--small__toggle-input input--3" type="checkbox" id="accordion-toggle-3">
                    <article class="filter-list-accordion--small__item item-3">

                        <header class="filter-list-accordion--small__header">
                            <label class="filter-list-accordion--small__toggle-label" for="accordion-toggle-3"></label>
                            <h4 class="filter-list-accordion--small__item-heading">Marca</h4>
                            <div class="filter-list-accordion--small__item-icon-container">
                                <img src="public/images/filter-list-accordion__item-icon--down.svg" alt="flecha apuntando hacía abajo" class="filter-list-accordion--small__item-icon--down">
                            </div>
                        </header>

                        <div class="filter-list-accordion--small__item-content">
                            <ul class="filter-list">
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="barbie-small-input">
                                        Barbie<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="barbie-small-input" name="barbie">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="dc-small-input">
                                        DC<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="dc-small-input" name="dc">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="disney-small-input">
                                        Disney<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="disney-small-input" name="disney">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="fisher-price-small-input">
                                        Fisher-Price<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="fisher-price-small-input" name="fisher-price">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="marvel-small-input">
                                        Marvel<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="marvel-small-input" name="marvel">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="lego-small-input">
                                        Lego<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="lego-small-input" name="lego">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="square-enix-small-input">
                                        Square-Enix<sup>&reg;</sup>
                                        <input class="filter-list__input" type="checkbox" id="square-enix-small-input" name="square-enix">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="star-wars-small-input">
                                        Star Wars<sup>TM</sup>
                                        <input class="filter-list__input" type="checkbox" id="star-wars-small-input" name="star-wars">
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </article>
                    
                    <input class="filter-list-accordion--small__toggle-input input--4" type="checkbox" id="accordion-toggle-4">
                    <article class="filter-list-accordion--small__item item-4">

                        <header class="filter-list-accordion--small__header">
                            <label class="filter-list-accordion--small__toggle-label" for="accordion-toggle-4"></label>
                            <h4 class="filter-list-accordion--small__item-heading">Precio</h4>
                            <div class="filter-list-accordion--small__item-icon-container">
                                <img src="public/images/filter-list-accordion__item-icon--down.svg" alt="flecha apuntando hacía abajo" class="filter-list-accordion--small__item-icon--down">
                            </div>
                        </header>

                        <div class="filter-list-accordion--small__item-content">
                            <ul class="filter-list">
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="price-up-to-100k-small-input">
                                        Hasta $100,000
                                        <input class="filter-list__input" type="checkbox" id="price-up-to-100k-small-input" name="price-up-to-100k">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="price-100k-200k-small-input">
                                        $100,000 a $200,000
                                        <input class="filter-list__input" type="checkbox" id="price-100k-200k-small-input" name="price-100k-200k">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="price-200k-500k-small-input">
                                        $200,000 a $500,000
                                        <input class="filter-list__input" type="checkbox" id="price-200k-500k-small-input" name="price-200k-500k">
                                    </label>
                                </li>
                                <li class="filter-list__item">
                                    <label class="filter-list__label" for="price-higher-500k-small-input">
                                        Más de $500,000
                                        <input class="filter-list__input" type="checkbox" id="price-higher-500k-small-input" name="price-higher-500k">
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </article>

                    <footer class="filter-list-accordion--small__footer">
                        <button class="filter-list-accordion--small__submit-btn" id="show-filtered-product-btn">Ver productos</button>
                    </footer>
                </div>
            </div>
        </div>

        <div class="sort-list__small-display-container hidden" id="float-sort-product-list">
            <ul class="sort-list">
                <li class="sort-list__item">
                    <label class="sort-list__label" for="shipping-ipunt">
                        <input class="sort-list__input" type="radio" id="shipping-ipunt" name="sort" value="shipping">
                        Envío sin cargo
                    </label>
                </li>
                <li class="sort-list__item">
                    <label class="sort-list__label" for="rating-ipunt">
                        <input class="sort-list__input" type="radio" id="rating-ipunt" name="sort" value="rating">
                        Más popular
                    </label>
                </li>
                <li class="sort-list__item">
                    <label class="sort-list__label" for="more-expensive-ipunt">
                        <input class="sort-list__input" type="radio" id="more-expensive-ipunt" name="sort" value="expensive">
                        Precio (mayor a menor)
                    </label>
                </li>
                <li class="sort-list__item">
                    <label class="sort-list__label" for="cheapest-ipunt">
                        <input class="sort-list__input" type="radio" id="cheapest-ipunt" name="sort" value="cheapest">
                        Precio (menor a mayor)
                    </label>
                </li>
                <li class="sort-list__item">
                    <label class="sort-list__label" for="alphabetical-ipunt">
                        <input class="sort-list__input" type="radio" id="alphabetical-ipunt" name="sort" value="az">
                        A-Z
                    </label>
                </li>
            </ul>
        </div>

    </div>


    <div class="cards-container">

    <% toys.forEach(toy => { %>
        <div class="card">
            <input class="card__favorite-button-toggle-input" type="checkbox" id="<%=toy.title %>">
            <div class="card__favorite-button-container">
                <label class="card__favorite-button-toggle-label" for="<%=toy.title %>"></label>
                <button class="card__favorite-button"></button>
            </div>
            <div class="card__inner-border">
                <a href="#" class="card__link-add-to-cart">Comprar</a>
                <article class="card__article">
                    <div class="card__image-container">
                        <a href="/<%=toy.slug%> " class="card__link-go-inner-product">
                            <img class="card__image" src="<%= toy.photos[0] %>" alt="<%=toy.cloudinary_id %>">
                        </a>
                    </div>
                    <div class="card__info-container card__info-container">
                        <div class="card__content <%= toy.ageBgColor%>">
                            <h2 class="card__heading"><%= toy.title %></h2>
                            <p class="card__description"><%= toy['short-description'] %></p>
                        </div>
                        <div class="card__additional-info">
                            <div class="card__rating-container">
                                <img class="card__rating" src="public/images/card__rating-<%= toy.ratingImage%>s.svg" alt="<%= toy.rating%> estrellas de calificación del producto" title="<%= toy.rating%> estrellas de calificación del producto">
                            </div>
                            <p class="card__price">$<%= toy.fee %></p>
                        </div>
                    </div>
                    
                </article>
            </div>
        </div>

        <% }); %>

    </div>

    <footer class="section-cards__footer">
        <div class="footer-btn-container">
            <button class="footer-btn__icon footer-btn__icon--previous">ant.</button>
            <button class="footer-btn__icon footer-btn__icon--next">sig.</button>
        </div>
    </footer>
</section>

<script src="../../public/js/home.js"></script>